{% extends "student/dashboard.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.studentprofile.hostel %}
        <div class="content-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Write a Complaint</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    {% else %}
        <h6>Please update your BITS ID and Hostel in your Profile to be able to write a complaint.</h6>
    {% endif %}
{% endblock content %}